<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/syntax.css">
  <link rel="stylesheet" href="css/solo.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <div class="logoheader">
    <h1><a href="./">{{ site.tag_text }}</a></h1>
    <img src="static/images/header-logo.png" alt="logo" />
    </div>
    {{ content }}

    <br>
  <div id="footer">Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.</div>
  </div>
{% include scripts.html %}

</body>


</html>

